*.pyc
*.so
*.o
*.a
.DS_store
#*
.#*
*~
Makefile.local
setup_local.py
build
dist
test/*
!test/*.py
!test/cpp
!test/cpp/
!test/issues/*.py
!test/issues/data_3960/VisIt_volume
*.egg-info
*.py#
external/*
mfem/_ser/*_wrap.cxx
mfem/_ser/*_wrap.h
mfem/_ser/*.py
!mfem/_ser/__init__.py
!mfem/_ser/setup.py
!mfem/_ser/tmop_modules.py
mfem/_par/*_wrap.cxx
mfem/_par/*_wrap.h
mfem/_par/*.py
!mfem/_par/__init__.py
!mfem/_par/setup.py
!mfem/_par/tmop_modules.py
__sha__.py
existing_mfem_headers.i
